RewriteEngine On

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ slim-exemple.php [QSA,L]
RewriteRule ^ rest.php [QSA,L]
DirectoryIndex rest.php

#CGIPassAuth On
