//BOOTSTRAP
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

//VARAIBLES

$logo: 40px;
$color_nav: #34495e;
$color_nav_hover: #212f3c;

//GENERAL
body{
  background-image: url(../img/seigaiha.png);
}
.container{
  margin-top: 20px;
}

.jbt{
  border-radius: 5px;
  background-color: rgba(234, 236, 238, 0.8);
  padding: 5px;
}

.form-group{
  padding: 5px;
}

.dividir{
  justify-content: space-between;
  display: flex;
}

.button{
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #656565;
}
.right{
  text-align: right;
}
.lien{
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}
.centrar{
  display: flex;
  justify-content: center;
}
.success{
  background: #2ecc71;
}
.cont{
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}
.visor{
  width: 100%;
  height: 200px;
  overflow: hidden;
  align-self: center;
}
.c-x{
  width: 100%;
  background-color: rgba(234, 236, 238, 0.8);
  margin: 10px;
  border-radius: 5px;
  font-size: 25px;
}
.c-x>.visor>img{
  width: 100%;
}
.x{
  width: 100%;
  background-color: #1abc9c;
  color: beige;
  font-size: 20px;
  border-radius: 5px, 5px;
}
// .c-x>.visor>img:hover{
//   width: 110%;
// }

h1, h6{
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
table{
  border-radius: 5px;
  background-color: rgba(234, 236, 238, 0.8);
}
td{
  padding: 20px;
}

th{
  font-size: 30px;
  text-align: center;
}
tbody{

  font-size: 20px;
}
span{
  margin: 5px;
}
.form-control{
  width: 100%;
}
.flex{
  // display: flex;
  flex-flow: row;
}
#map {
  height:300px;
  width:100%;
}
@media(max-width: 380px) {
  h1{
    font-size: 25px;
  }
}
@media(min-width: 800px) {
  .form-control{
    width: 300px;
  }
  .flex{
    display: flex;
  }
  #map{
    margin-left: 10px;
    margin-right: 10px;
  }
  .jbt{
    padding: 20px;
  }
  .c-x{
    width: 30%;
  }
}

// MENU

.navbar {
  overflow: hidden;
  background-color:  $color_nav;
  top: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: $color_nav_hover;
}

.logo{
  width: $logo;
}
