//BOOTSTRAP
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

//VARAIBLES

$logo: 40px;
$color_nav: #34495e;
$color_nav_hover: #212f3c;

//GENERAL

.container{
  margin-top: 70px;
}

.jbt{
  border-radius: 5px;
  background-color: rgba(234, 236, 238, 0.8);
  padding: 30px;
}

.form-group{
  padding: 5px;
}

.dividir{
  justify-content: space-between;
  display: flex;
}

.button{
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px #656565;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.success{
  background: #2ecc71;
}

#map {
  height: 500px;
  width: 600px;
  float: right;
  margin: 20px;
  display: flex;
}

h1{
  text-align: center;
  margin: 30px;
}

td{
  padding: 10px;
}

th{
  font-size: 25px;
  text-align: center;
}

// MENU

.navbar {
  overflow: hidden;
  background-color:  $color_nav;
  top: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background: $color_nav_hover;
}

.logo{
  width: $logo;
}
