<!doctype html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>API Geoquizz - Backend</title>
</head>

<body>
    <header>
      <h1>Backend</h1>
    </header>
    <article>
      <form method="post" action="{{ ajouter }}">
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="mot de passe" name="password">
        <input type="submit" value="Connexion">
        <button type="button">Créer un compte</button>
      </form>
    </article>
    <footer>
      <p>Fin de la page</p>
    </footer>
</body>
</html>
