<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Geoquizz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../style/css/input.css">

</head>

<body>
  <header class="navbar">
    <div class="nav_element">
        <a href="#home"><img src="img/logo_chico.png" class="logo"></a>
    </div>
    <nav class="nav_element">
      <a href="#news">Connection</a>
      <a href="#contact">S'inregistrer</a>
    </nav>
  </header>

  <article class="container">

  </article>
</body>
</html>
